body {
    text-align: center;
 
}

.quadrado {
    text-align: center;
    font-size:  50px;;
    width: 50px;
    background: #666;
    display: inline-block;
    padding: 40px;
    margin: 5px;
    cursor: pointer;
    color: #666;
}

.jogador, .vencedor {

    font-size: 30px;
    margin-top: 10px;


}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: #eee;
    cursor: pointer;
}